#page-teacher-form {
  height: 100vh;
  width: 100vw;
}

#page-teacher-form .page-header .header-content {
  margin-bottom: 6.4rem;
}

#page-teacher-form main {
  background-color: var(--color-box-base);
  
  margin: -3.2rem auto 3.2rem;
  padding-top: 6.4rem;
  
  border-radius: 0.8rem;
  max-width: 74rem;
  width: 100%;
  
  overflow: hidden;
}

#page-teacher-form main fieldset {
  border: 0;
  padding: 0 2.4rem;
}

#page-teacher-form main fieldset + fieldset {
  margin-top: 6.4rem; 
}

#page-teacher-form main fieldset legend {
  color: var(--color-text-title);

  font-weight: 700;
  font-size: 2.4rem;
  font-family: Archivo;
  
  border-bottom: 1px solid var(--color-line-in-white);
  margin-bottom: 2.4rem;
  padding-bottom: 1.6rem;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#page-teacher-form main label {
  color: var(--color-text-complement);
}

#page-teacher-form main footer {
  background-color: var(--color-box-footer);
  border-top: 1px solid var(--color-line-in-white);
  margin-top: 6.4rem;
  padding: 4rem 2.4rem;
}

#page-teacher-form main footer p {
  color: var(--color-text-complement);
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 1.4rem;
  line-height: 2.4rem;
}

#page-teacher-form main footer p img {
  margin-right: 2rem;
}

#page-teacher-form main footer button {
  height: 5.6rem;
  width: 100%;

  background-color: var(--color-secondary);
  color: var(--color-button-text);
  
  border: 0;
  border-radius: 0.8rem;
  margin-top: 3.2rem;
  
  font-family: Archivo;
  font-size: 1.6rem;
  font-weight: 700;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  cursor: pointer;
  text-decoration: none;

  transition: background-color 0.2s;
}

#page-teacher-form main footer button:hover {
  background-color: var(--color-secondary-dark);
}

@media (min-width: 700px) {
  #page-teacher-form {
    max-width: 100vw;
  }

  #page-teacher-form .page-header .header-content {
    margin-bottom: 0;
  }

  #page-teacher-form main fieldset {
    padding: 0 6.4rem;
  }

  #page-teacher-form main footer {
    padding: 4rem 6.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #page-teacher-form main footer p {
    justify-content: space-between;
  }

  #page-teacher-form main footer button {
    width: 20rem;
    margin-top: 0;
  }
}