#page-teacher-list {
  height: 100vh;
  width: 100vw;
}

#search-teachers {
  margin-top: 3.2rem;
}

#search-teachers label {
  color: var(--color-text-in-primary);
}

#search-teachers .input-block {
  position: relative;
}

#search-teachers .input-block + .input-block {
  margin-top: 1.4rem;
}

#search-teachers .input-block label {
  font-size: 1.4rem;
}

#search-teachers .input-block input {
  height: 5.6rem;
  width: 100%;

  margin-top: 0.8rem;
  padding: 0 1.6rem;
  
  background-color: var(--color-input-background);
  border: 1px solid var(--color-line-int-white);
  border-radius: 0.8rem;
  outline: 0;
  
  font-family: Archivo;
  font-size: 1.6rem;
}

#search-teachers .input-block:focus-within::after {
  content: '';
  
  height: 2px;
  width: calc(100% - 3.2rem);
  left: 1.6rem;
  right: 1.6rem;
  
  position: absolute;
  bottom: 0;

  background-color: var(--color-primary-light);
}

#page-teacher-list main {
  width: 90%;
  margin: 3.2rem auto;
}

@media (min-width: 700px) {
  #page-teacher-list {
    max-width: 100%;
  }

  #search-teachers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    column-gap: 16px;
    
    position: absolute;
    bottom: -24px;
  }

  #search-teachers .input-block + .input-block {
    margin-top: 0;
  }

  #page-teacher-list main {
    max-width: 740px;
    margin: 0 auto;
    padding: 3.2rem 0;
  }
}