.input-block {
  position: relative;
}

.input-block + .input-block {
  margin-top: 1.4rem;
}

.input-block label {
  font-size: 1.4rem;
}

.input-block input {
  height: 5.6rem;
  width: 100%;

  margin-top: 0.8rem;
  padding: 0 1.6rem;
  
  background-color: var(--color-input-background);
  border: 1px solid var(--color-line-in-white);
  border-radius: 0.8rem;
  outline: 0;
  
  font-family: Archivo;
  font-size: 1.6rem;
}

.input-block:focus-within::after {
  content: '';
  
  height: 2px;
  width: calc(100% - 3.2rem);
  left: 1.6rem;
  right: 1.6rem;
  
  position: absolute;
  bottom: 0;

  background-color: var(--color-primary-light);
}
